<!DOCTYPE html>
<html>
<title>Demo</title>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	 <% if current_user %> 
	    <h1><%= current_user.email %> send email!</h1>
	 <% else %> 
  		<p>
      	  To login to the site, just follow this link: <%= link_to "Login", 'login' %>.
    	</p>
  <% end %>

</body>