<!DOCTYPE html>
<html>
<title>Demo</title>
  <body>
    <div class="login">
      <div class="container">
        <div class="form">
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
        <h1>Sign up</h1>

        <%= form_for(@user) do |f| %>
          <%= f.text_field :first_name, :placeholder => "First name" %>
          <%= f.text_field :last_name, :placeholder => "Last name" %>
          <%= f.email_field :email, :placeholder => "Email" %>
          <%= f.password_field :password, :placeholder => "Password" %>
          <%= f.submit "Create an account", class: "btn-submit" %>
        <% end %>

      
        </div>
      </div>
    </div>
  </body>
</html>