<!DOCTYPE html>
<html>
<title>Demo</title>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	 <% if current_user %> 
	    <h1>Welcome to demo.rails, <%= current_user.email %> !</h1>
	<% else %> 
 		<h1>Welcome to demo.rails!
	<% end %>

	<% if current_user %> 
	    <p>
	      You have successfully signed up to demo.rails,
	      your username is: <%= current_user.email %>.<br>
	    </p>
	    <p>Thanks for joining and have a great day!</p>
	<% else %> 
  		<p>
      	  To login to the site, just follow this link: <%= link_to "Login", 'login' %>.
    	</p>
<% end %>

  <%= form_for @mails do |f| %>
    <%= f.email_field current_user.email, :placeholder => "Your Email" %>
    <%= f.text_field :message, :placeholder => "Message" %>
    <%= f.submit "Send", class: "btn-submit" %>
  <% end %>

</body>